
<section class="home">
    <img src="../../assets/kj.jpg" >
    
    <div class="homecontent">
  <div class="bk">
    <div class="container">
    <div class="a">
    <button type="button" class="btn btn-primary active" [routerLink]="['/createteam']">Create team</button>
  
  </div>
    <br>
    <div class="b">
    <button type="button" class="btn btn-primary active" [routerLink]="['/createplayer']">Create Player</button>
    </div><br>
    <div class="c">
    <button type="button" class="btn btn-primary active" [routerLink]="['/showteam']">Show Team</button>
    </div><br>
  
  
    <div class="d">
    <button type="button" class="btn btn-primary active" [routerLink]="['/showplayer']">Show Player</button>
  </div>
  
  </div>
    </div>
    </div>
    </section>
  
